In [7]:
import pandas as pd 

fileLoc = "./vgsales.csv"

# Read whole data , otherwise can use DataFrame for raw data  !
data = pd.read_csv(fileLoc)

# only get Rank and Name column !
rank_name = pd.read_csv(fileLoc , usecols = ["Rank" , "Name"] , index_col = "Rank")
print(rank_name)
                        
print(data.columns)

                                                   Name
Rank
1                                            Wii Sports
2                                     Super Mario Bros.
3                                        Mario Kart Wii
4                                     Wii Sports Resort
5                              Pokemon Red/Pokemon Blue
...                                                 ...
16596                Woody Woodpecker in Crazy Castle 5
16597                     Men in Black II: Alien Escape
16598  SCORE International Baja 1000: The Official Game
16599                                        Know How 2
16600                                  Spirits & Spells

[16598 rows x 1 columns]
Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [2]:
print("All Columns in dataset" , data.columns )
print()

# set index to column Rank
data.set_index("Rank")

# Rows from start !
print(data.head())

# Rows from end !
print(data.tail())

Columns in dataset Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')
   Rank                      Name Platform    Year         Genre Publisher  \
0     1                Wii Sports      Wii  2006.0        Sports  Nintendo
1     2         Super Mario Bros.      NES  1985.0      Platform  Nintendo
2     3            Mario Kart Wii      Wii  2008.0        Racing  Nintendo
3     4         Wii Sports Resort      Wii  2009.0        Sports  Nintendo
4     5  Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0     41.49     29.02      3.77         8.46         82.74
1     29.08      3.58      6.81         0.77         40.24
2     15.85     12.88      3.79         3.31         35.82
3     15.75     11.01      3.28         2.96         33.00
4     11.27      8.89     10.22         1.00         31.37
        Rank                                              Name Platform  \
16593  16596                Woody Woodpecker in Crazy Castle 5      GBA
16594  16597                     Men in Black II: Alien Escape       GC
16595  16598  SCORE International Baja 1000: The Official Game      PS2
16596  16599                                        Know How 2       DS
16597  16600                                  Spirits & Spells      GBA

         Year     Genre   Publisher  NA_Sales  EU_Sales  JP_Sales  \
16593  2002.0  Platform       Kemco      0.01      0.00       0.0
16594  2003.0   Shooter  Infogrames      0.01      0.00       0.0
16595  2008.0    Racing  Activision      0.00      0.00       0.0
16596  2010.0    Puzzle    7G//AMES      0.00      0.01       0.0
16597  2003.0  Platform     Wanadoo      0.01      0.00       0.0

       Other_Sales  Global_Sales
16593          0.0          0.01
16594          0.0          0.01
16595          0.0          0.01
16596          0.0          0.01
16597          0.0          0.01

In [20]:
newDemoFile = data.head(10)
print(type(newDemoFile))
newFileContent = newDemoFile.to_csv(index = False)
print(type(newFileContent))
print("newDemoFile data \n" , newDemoFile)
print("newFileContent data \n" , newFileContent)
with open("first_10_row.csv" , "w") as file :
    file.write(newFileContent)

<class 'pandas.core.frame.DataFrame'>
<class 'str'>
newDemoFile data
    Rank                       Name Platform    Year         Genre Publisher  \
0     1                 Wii Sports      Wii  2006.0        Sports  Nintendo
1     2          Super Mario Bros.      NES  1985.0      Platform  Nintendo
2     3             Mario Kart Wii      Wii  2008.0        Racing  Nintendo
3     4          Wii Sports Resort      Wii  2009.0        Sports  Nintendo
4     5   Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing  Nintendo
5     6                     Tetris       GB  1989.0        Puzzle  Nintendo
6     7      New Super Mario Bros.       DS  2006.0      Platform  Nintendo
7     8                   Wii Play      Wii  2006.0          Misc  Nintendo
8     9  New Super Mario Bros. Wii      Wii  2009.0      Platform  Nintendo
9    10                  Duck Hunt      NES  1984.0       Shooter  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0     41.49     29.02      3.77         8.46         82.74
1     29.08      3.58      6.81         0.77         40.24
2     15.85     12.88      3.79         3.31         35.82
3     15.75     11.01      3.28         2.96         33.00
4     11.27      8.89     10.22         1.00         31.37
5     23.20      2.26      4.22         0.58         30.26
6     11.38      9.23      6.50         2.90         30.01
7     14.03      9.20      2.93         2.85         29.02
8     14.59      7.06      4.70         2.26         28.62
9     26.93      0.63      0.28         0.47         28.31
newFileContent data
 Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.0
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.0,31.37
6,Tetris,GB,1989.0,Puzzle,Nintendo,23.2,2.26,4.22,0.58,30.26
7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.5,2.9,30.01
8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.2,2.93,2.85,29.02
9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.7,2.26,28.62
10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

In [26]:
print(pd.options.display.max_rows)

60

In [29]:
print(data.head(63))

    Rank                               Name Platform    Year         Genre  \
0      1                         Wii Sports      Wii  2006.0        Sports
1      2                  Super Mario Bros.      NES  1985.0      Platform
2      3                     Mario Kart Wii      Wii  2008.0        Racing
3      4                  Wii Sports Resort      Wii  2009.0        Sports
4      5           Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing
..   ...                                ...      ...     ...           ...
58    59  Pokemon FireRed/Pokemon LeafGreen      GBA  2004.0  Role-Playing
59    60                     Super Mario 64       DS  2004.0      Platform
60    61                       Just Dance 3      Wii  2011.0          Misc
61    62               Call of Duty: Ghosts     X360  2013.0       Shooter
62    63                        Halo: Reach     X360  2010.0       Shooter

                 Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  \
0                 Nintendo     41.49     29.02      3.77         8.46
1                 Nintendo     29.08      3.58      6.81         0.77
2                 Nintendo     15.85     12.88      3.79         3.31
3                 Nintendo     15.75     11.01      3.28         2.96
4                 Nintendo     11.27      8.89     10.22         1.00
..                     ...       ...       ...       ...          ...
58                Nintendo      4.34      2.65      3.15         0.35
59                Nintendo      5.08      3.11      1.25         0.98
60                 Ubisoft      6.05      3.15      0.00         1.07
61              Activision      6.72      2.63      0.04         0.82
62  Microsoft Game Studios      7.03      1.98      0.08         0.78

    Global_Sales
0          82.74
1          40.24
2          35.82
3          33.00
4          31.37
..           ...
58         10.49
59         10.42
60         10.26
61         10.21
62          9.88

[63 rows x 11 columns]